* {
    align-items: center;
}

.registerStyle label {
    font-size: small;
}


/*Identificador de usuario activo*/

#user-sesion1 {
    margin-left: 49%;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
}

.registerStyle input {
    background-color: #dcdcdc;
    border-radius: 10px;
    border: 0.1px solid transparent;
    width: 35%;
    margin: 6px auto;
    padding: 2px;
    display: flexbox;
    font-size: small;
}

#textBox {
    background-color: #dcdcdc;
    border-radius: 10px;
    border: 0.1px solid transparent;
    width: 35%;
    margin: 6px auto 0 5%;
    padding: 2px;
    display: flexbox;
    font-size: small;
}

#opcGrupo {
    width: 35%;
    margin: 6px auto 0 7%;
}

#Iemail {
    width: 80%;
    background-color: #dcdcdc;
}

.btnImprimir {
    background-color: blue;
    color: white;
    width: 16%;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    margin-left: 80%;
    font-size: small;
}

.btnEditar {
    background-color: blue;
    color: white;
    width: 100%;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    font-size: small;
}

.btnEliminar {
    background-color: red;
    color: white;
    width: 100%;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    font-size: small;
}

.registerStyle select {
    background-color: gainsboro;
    border-radius: 12px;
    margin: 5px auto;
    border: 0.1px solid transparent;
    width: 30%;
    padding: 2px;
    display: flexbox;
}

.identificador {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 4px;
    background-color: #FAD01E;
}

button {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 8px;
    width: 14%;
}


/*Style _mostrar contraseña*/

#viewPassword {
    cursor: pointer;
    color: blue;
    font-size: small;
    margin-right: 42%;
    display: flexbox;
}


/*Style botón registrarse*/


/*** ESTILOS BOTÓN SLIDE CLOSE ***/

#ov-btn-slide-close {
    background: black;
    /* color de fondo */
    color: white;
    /* color de fuente */
    border: 2px solid #FAD01E;
    /* tamaño y color de borde */
    padding: 10px 20px;
    border-radius: 3px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

#ov-btn-slide-close:before,
#ov-btn-slide-close:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #FAD01E;
    /* color de fondo hover */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#ov-btn-slide-close:after {
    left: 100%;
}

#ov-btn-slide-close:hover {
    color: black;
    border-color: black;
    /* color de fuente hover */
}

#ov-btn-slide-close:hover:before {
    left: 0;
}

#ov-btn-slide-close:hover:after {
    left: 50%;
}


/*Contenedor*/

main .data .content-data {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 18px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    align-items: center;
}

main .content-data .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

main .content-data .head h3 {
    font-size: 20px;
    font-weight: 600;
}

main .content-data .head .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content-data .head .menu .icon {
    cursor: pointer;
}

main .content-data .head .menu-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 140px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    padding: 10px 0;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

main .content-data .head .menu-link.show {
    top: 100%;
    opacity: 1;
    pointer-events: visible;
}

main .content-data .head .menu-link a {
    display: block;
    padding: 6px 16px;
    font-size: 14px;
    color: var(--dark);
    transition: all .3s ease;
}

main .content-data .head .menu-link a:hover {
    background: var(--grey);
}

main .content-data .chart {
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    overflow-x: auto;
    scrollbar-width: auto;
    overflow: scroll;
    align-content: flex-start;
}


/*estilo tabla */

.tableList {
    width: 100%;
}

.tableList th {
    border: 1px solid;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

main .content-data .chart::-webkit-scrollbar {
    display: none;
}

main .chat-box {
    width: 100%;
    max-height: 360px;
    overflow-y: auto;
    scrollbar-width: none;
}

main .chat-box::-webkit-scrollbar {
    display: none;
}

main .chat-box .day {
    text-align: center;
    margin-bottom: 10px;
}

main .chat-box .day span {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    background: var(--light-blue);
    color: var(--blue);
    font-size: 12px;
    font-weight: 600;
}

main .chat-box .msg img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

main .chat-box .msg {
    display: flex;
    grid-gap: 6px;
    align-items: flex-start;
}

main .chat-box .profile .username {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-right: 6px;
}

main .chat-box .profile .time {
    font-size: 12px;
    color: var(--dark-grey);
}

main .chat-box .chat p {
    font-size: 14px;
    padding: 6px 10px;
    display: inline-block;
    max-width: 400px;
    line-height: 150%;
}

main .chat-box .msg:not(.me) .chat p {
    border-radius: 0 5px 5px 5px;
    background: var(--blue);
    color: var(--light);
}

main .chat-box .msg.me {
    justify-content: flex-end;
}

main .chat-box .msg.me .profile {
    text-align: right;
}

main .chat-box .msg.me p {
    background: var(--grey);
    border-radius: 5px 0 5px 5px;
}

main form {
    margin-top: 6px;
}

main .form-group {
    width: 100%;
    display: flex;
    grid-gap: 10px;
}

main .form-group input {
    flex-grow: 1;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    background: var(--grey);
    border: none;
    transition: all .3s ease;
    width: 100%;
}

main .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}

main .btn-send {
    padding: 0 16px;
    background: var(--blue);
    border-radius: 5px;
    color: var(--light);
    cursor: pointer;
    border: none;
    transition: all .3s ease;
}

main .btn-send:hover {
    background: var(--dark-blue);
}


/*Paginador*/

.paginacion {
    display: inline-block;
}

.paginacion a {
    color: black;
    float: left;
    padding: 8px 16px;
}

.paginacion a.activo {
    background-color: blue;
    color: white;
}

.paginacion a:hover:not(.activo) {
    background-color: gray;
}